
body {
    font-family: 'Tahoma', sans-serif;
    direction: rtl;
    margin: 0;
}

.background {
    background-image: url(مصاحف.png); /* مصاحف.png */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.overlay {
    background-color: rgba(0,0,0,0.5); /* شفافية 50% */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

header, main, footer {
    max-width: 900px;
    margin: auto;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
